@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
/* body{ 
  display:flex; 
  flex-direction:column; 
} */

.navbar{
  background: #fffb00;
  padding: 0.5rem;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-brand{
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;

}
.navbar-image{
  align-items: center;
  width: 2rem;
}

#footer{
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 8vh;
  background:#fffb00;
  text-align: center;
  color: #000;
}

/* .hero{
  background: #000;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 68vh;
} */
/* 
.cntr_pg {  
  position: absolute;  
  top: 40%;  
  left: 50%;  
  margin-right: -50%;  
  transform: translate(-50%, -50%)  
 }  
 .form {  
  display: block;  
  margin: auto;  
 }  
 .search_bar {  
      border-radius: 40px;  
  width: 585px;  
  margin: auto;  
  height: 39px;  
  border: .7px solid #E4E4E4;  
  background-color: #fff;  
  box-shadow:0px 1px 4px #df8600;  
  margin-bottom: 20px;  
  outline: none;  
  text-indent: 15px;  
  color:black
}  
.search_bar:hover, .search_bar:active {  
  padding-bottom: 2px;  
  padding-top: 1px;  
  margin-top: -1px;  
  width: 585px;  
  box-shadow:0px 3px 8px #eeff00;  
  outline: none;  
}  
.search_bar:focus {  
  width: 585px;  
  box-shadow:0px 3px 8px #eeff00;  
  outline: none;  
}

.submit_buttons {  
  display: inline-block;  
  height: 36px;  
  cursor: pointer;  
  line-height: 27px;  
  background-color: #f2f2f2;  
  border: 1px solid #f2f2f2;  
  border-radius: 2px;  
  color: #757575;  
  cursor: default;  
  font-family: arial,sans-serif;  
  font-size: 13px;  
  font-weight: bold;  
  margin: 11px 4px;  
  min-width: 54px;  
  padding: 0 16px;  
  text-align: center;  
}  
.submit_buttons {  
  position: relative;  
  left: 25%;  
  right: -50%;  
  cursor: pointer;  
}  
.submit_buttons:hover {  
  border: .7px solid #d0d0d0;  
  color: #000;  
  box-shadow:0px 1px 4px #E4E4E4;  
}  

.select_box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
} 

.select{
  width: 20%;
}
*/

/* New */
/* Body Section */
.body{
  width: 100vw;
  min-height: 84vh;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Google logo */
.logo {  
  display: 100%;  
  height: 92px;  
  width: 272px;  
  display: block;  
  margin-bottom: 4px;  
}

/* Search bar and dropdown section */

.body__search{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 55%;
  /* background-color: red; */
}
.searchfield{
  width: 79%; 
  height: 2.9em;
  border-radius: 15px;
  outline: none;
  background: transparent;
  border: 2px solid black;
  color: black;
  padding: 0px 10px;
  font-size: 15px;
  font-weight: 400;
}
.searchfield:active{
  background-color: transparent;
}

.select{
  width: 19%;
  height: 2.9em;
  padding: 0 8px;
  background-color: pink;
  border-radius: 15px;  
  color: black;
  outline: none;
  cursor: pointer;
  border: 2px solid black;
  font-size: 15px;
}
/* select option[value="PDF"]:hover{
  color: black;
  background-color: #fffb00;
} */

.submit_button{
  color: black;
    border: 2px solid black;
    padding: 5px 25px;
    border-radius: 15px;
    background: transparent;
    margin-top: 2rem;
    width: min-content;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}