@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap');




html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background:#130F40;
  }
}
@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background:#130F40;
  }
}


.navbar{
  background: #686DE0;
  padding: 0.5rem;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-brand{
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-shadow: #000 0.2rem 0.2rem 0.4rem;

}
.navbar-image{
  align-items: center;
  width: 2.5rem;
}

#footer{
  position: absolute;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background:#30336B;
  text-align: center;
  color: #DFF9FB;
}

/* New */
/* Body Section */
.body{
  width: 100vw;
  min-height: 35rem;
  background-color: #130F40;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Google logo */
.logo {  
  display: 100%;  
  width: 427.08px;
  height: 113.3px; 
  display: block;  

  /* padding-bottom: 2px; */
}

/* Search bar and dropdown section */

.body__search{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 55%;
  margin-top: 2rem;
  /* background-color: red; */
}

.body__image{
  width : 100%;
  height: 100%;
  text-align: center;
}



.searchfield{
  width: 79%; 
  height: 2.9em;
  border-radius: 10px;
  outline: none;
  background: #DFF9FB;
  color: #1d2931;
  padding: 0px 10px;
  font-size: 15px;
  font-weight: 400;
}

.searchfield:focus{
  -webkit-box-shadow: 0px 0px 10px 0px #DFF9FB;
  box-shadow: 0px 0px 10px 0px #DFF9FB;
  transition: all 0.2s ease-in-out;
}

.select{
  width: 19%;
  height: 2.9em;
  padding: 0 8px;
  background-color: #DFF9FB ;
  border-radius: 10px;  
  color: #30336B; ;
  outline: none;
  cursor: pointer;
  font-size: 15px;
}

.submit_button{
    padding: 5px 25px;
    border-radius: 10px;
    color: #30336B;
    background: transparent;
    background-color: #DFF9FB ;
    color: black;
    margin-top: 2rem;
    width: min-content;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.submit_button:hover{
  -webkit-box-shadow: 0px 0px 15px 0px #DFF9FB;
  box-shadow: 0px 0px 15px 0px #DFF9FB;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 770px){
  .body__search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 97%;
  }
  .searchfield{
    width: 69%; 
    font-size: 13px;
  }
  .select{
    width: 30%;
    font-size: 13px;
    /* padding: 0.6em 0em; */
  }
}

  .jokeBody{
    padding: 2rem;
    text-align: center;
  }
